# Lab for module 2 lesson 3

Topics covered:
- understanding basic statistical features of the data
- creating subsets of the data based on logical conditions

**Problem Statement & Data Description**

*Client: ABC Retail, Incorporated, rest-of-the-world division* 

***Project name: Online retail sales analysis*** 

An online retailer, ABC, Inc., operates in nearly 100 countries worldwide, selling furniture, office supplies and technology products to customers in three segments: consumer, corporate and home office. ABC, Inc. is a US-based company, and it has two major divisions: US and rest of the world. We are working with the rest of the world division of the company. 

They have provided us with online sales transaction data from 2011 to 2014.

We are given 3 datasets:-

1. Data on each sale; 51290 records; all data in US dollars
It contains fields like
**order_id** (identifier) ,order_date ,ship_date ,ship_mode ,**customer_id**(identifier) ,product_id ,category ,sub_category ,product_name ,sales ,quantity ,discount ,profit ,shipping_cost ,order_priority ,**vendor_code** (identifier) 


2. Data on the customers; 1590 records 
It contains fields like
**customer_id** (identifier) ,customer_name ,city ,state ,country ,postal_code ,segment ,market ,region 

3. Data on vendors who supply the retailer; 65 records 
It contains fields like
vendor ,**vendor_code** (identifier) 

We need to analyze the data and need to provide answer to different questions asked by company officials.

### Read the retail sales data (sales_data.csv)

In [2]:
# reading the data & library
import pandas as pd
import warnings
# Use the warning filter context manager to temporarily suppress warnings
warnings.filterwarnings("ignore")

sales = pd.read_csv('sales_data.csv')
sales.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,product_id,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,vendor_code
0,1,MX-2014-143658,02/10/2014,06/10/2014,Standard Class,SC-20575,OFF-LA-10002782,Office Supplies,Labels,"Hon File Folder Labels, Adjustable",13.08,3,0.0,4.56,1.03,Medium,VE_001
1,2,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-FU-10004015,Furniture,Furnishings,"Tenex Clock, Durable",252.16,8,0.0,90.72,13.45,Medium,VE_002
2,3,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,FUR-BO-10002352,Furniture,Bookcases,"Ikea 3-Shelf Cabinet, Mobile",193.28,2,0.0,54.08,9.63,Medium,VE_003
3,4,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-BI-10004428,Office Supplies,Binders,"Cardinal Binder, Clear",35.44,4,0.0,4.96,1.37,Medium,VE_004
4,5,MX-2012-155047,15/10/2012,20/10/2012,Standard Class,KW-16570,OFF-AR-10004594,Office Supplies,Art,"Sanford Canvas, Water Color",71.60,2,0.0,11.44,3.79,Medium,VE_005

### Q1. What is the mean value of sales, the median value of shipping_cost and the maximum value of profit?

In [3]:
# write your code here
sales.describe()

,row_id,sales,quantity,discount,profit,shipping_cost
count,51290.00000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,246.490581,3.476545,0.142908,28.610982,26.375915
std,14806.29199,487.565361,2.278766,0.212280,174.340972,57.296804
min,1.00000,0.444000,1.000000,0.000000,-6599.978000,0.000000
25%,12823.25000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,22638.480000,14.000000,0.850000,8399.976000,933.570000

### Q2. What is the most common value of *ship_mode*? How many different customers are represented in this data set?

In [47]:
# write your code here
print(sales['ship_mode'].value_counts()[0]) #[0] for max
print("Different no. of customers :", sales['customer_id'].nunique())

29842
Different no. of customers : 1590

## Creating subsets that satisfy specific criteria

### Q3. How many transactions resulted in a loss (i.e. profit < 0)? What proportion is this of the total number?

In [40]:
# write your code here
loss = sales[sales['profit']<0]
print(loss)
print("Proportion : ",  100 *loss.shape[0]/sales.shape[0])

       row_id        order_id  order_date   ship_date       ship_mode  \
16         17  US-2013-126655  26/06/2013  01/07/2013  Standard Class
17         18  US-2013-126655  26/06/2013  01/07/2013             NaN
18         19  US-2013-126655  26/06/2013  01/07/2013  Standard Class
19         20  US-2013-126655  26/06/2013  01/07/2013  Standard Class
23         24  US-2014-119753  03/10/2014  08/10/2014  Standard Class
...       ...             ...         ...         ...             ...
51275   51276    TU-2013-7900  28/05/2013  28/05/2013        Same Day
51276   51277    TU-2013-7800  09/08/2013  11/08/2013    Second Class
51277   51278    TU-2013-7800  09/08/2013  11/08/2013    Second Class
51278   51279    TU-2013-7800  09/08/2013  11/08/2013    Second Class
51279   51280    TU-2013-7800  09/08/2013  11/08/2013    Second Class

      customer_id        product_id         category sub_category  \
16       HE-14800   OFF-EN-10000761  Office Supplies    Envelopes
17       HE-14800   FUR-FU-10003066        Furniture  Furnishings
18       HE-14800   OFF-EN-10000075  Office Supplies    Envelopes
19       HE-14800   OFF-EN-10002226  Office Supplies    Envelopes
23       DW-13195   OFF-BI-10003934  Office Supplies      Binders
...           ...               ...              ...          ...
51275     DB-3210  TEC-BEL-10001971       Technology  Accessories
51276     MY-8295  OFF-ELI-10001812  Office Supplies     Supplies
51277     MY-8295  OFF-ADV-10004598  Office Supplies    Fasteners
51278     MY-8295  OFF-ADV-10000331  Office Supplies    Fasteners
51279     MY-8295  FUR-IKE-10001301        Furniture    Bookcases

                                        product_name    sales  quantity  \
16       Jiffy Peel and Seal, with clear poly window   18.840         2
17                         Deflect-O Frame, Duo Pack  308.280         7
18     GlobeWeis Interoffice Envelope, Security-Tint   40.176         2
19                    Jiffy Clasp Envelope, Recycled    8.784         3
23                       Acco Binding Machine, Clear   60.660         3
...                                              ...      ...       ...
51275                        Belkin Flash Drive, USB   16.860         1
51276                        Elite Shears, Easy Grip   19.452         1
51277                    Advantus Paper Clips, Metal    5.352         1
51278           Advantus Paper Clips, Assorted Sizes    5.580         1
51279                  Ikea Stackable Bookrack, Pine   49.572         1

       discount   profit  shipping_cost order_priority vendor_code
16          0.4   -6.600           1.60         Medium      VE_006
17          0.4 -149.100          27.77         Medium      VE_009
18          0.4   -6.064           2.14         Medium      VE_001
19          0.4   -4.836           0.38         Medium      VE_001
23          0.4  -20.220           4.00         Medium      VE_005
...         ...      ...            ...            ...         ...
51275       0.6  -11.400           6.49       Critical      VE_032
51276       0.6  -26.268           0.49         Medium      VE_035
51277       0.6   -4.818           0.25         Medium      VE_047
51278       0.6   -1.980           0.41         Medium      VE_035
51279       0.6  -12.408           0.74         Medium      VE_053

[12544 rows x 17 columns]
Proportion :  24.457009163579645

### Q4. What percent of all transactions have the ship_mode 'Standard Class' and belong to the category 'Furniture'

In [44]:
# write your code here
trans = sales[(sales['ship_mode'] == 'Standard Class') & (sales['category'] == 'Furniture')] 
print(trans)
print(100 * trans.shape[0]/sales.shape[0])

       row_id        order_id  order_date   ship_date       ship_mode  \
1           2  MX-2012-155047  15/10/2012  20/10/2012  Standard Class
2           3  MX-2012-155047  15/10/2012  20/10/2012  Standard Class
12         13  MX-2013-156335  05/03/2013  12/03/2013  Standard Class
20         21  MX-2013-167759  19/12/2013  25/12/2013  Standard Class
48         49  MX-2011-127145  12/06/2011  17/06/2011  Standard Class
...       ...             ...         ...         ...             ...
51244   51245    BO-2012-5950  23/07/2012  30/07/2012  Standard Class
51250   51251    IZ-2012-3720  17/10/2012  21/10/2012  Standard Class
51255   51256    IV-2014-9400  17/04/2014  21/04/2014  Standard Class
51269   51270    EN-2014-1040  19/06/2014  23/06/2014  Standard Class
51271   51272    EN-2014-1040  19/06/2014  23/06/2014  Standard Class

      customer_id        product_id   category sub_category  \
1        KW-16570   FUR-FU-10004015  Furniture  Furnishings
2        KW-16570   FUR-BO-10002352  Furniture    Bookcases
12       TB-21250   FUR-CH-10002846  Furniture       Chairs
20       JE-15610   FUR-CH-10002132  Furniture       Chairs
48       SF-20200   FUR-FU-10003608  Furniture  Furnishings
...           ...               ...        ...          ...
51244      AM-705  FUR-SAF-10000085  Furniture    Bookcases
51250     PB-9150  FUR-SAU-10003188  Furniture    Bookcases
51255     CK-2325  FUR-DEF-10004141  Furniture  Furnishings
51269     MC-7605  FUR-RUB-10003699  Furniture  Furnishings
51271     MC-7605  FUR-NOV-10003195  Furniture       Chairs

                          product_name    sales  quantity  discount   profit  \
1                 Tenex Clock, Durable  252.160         8       0.0   90.720
2         Ikea 3-Shelf Cabinet, Mobile  193.280         2       0.0   54.080
12      Hon Steel Folding Chair, Black  210.640         4       0.0   50.480
20            Hon Rocking Chair, Black  273.472         4       0.2   95.712
48          Advantus Light Bulb, Black   26.760         2       0.0    7.480
...                                ...      ...       ...       ...      ...
51244   Safco Library with Doors, Pine  391.140         1       0.0  195.570
51250  Sauder Stackable Bookrack, Pine  298.680         2       0.0  113.460
51255   Deflect-O Photo Frame, Durable   48.930         1       0.0    6.840
51269  Rubbermaid Light Bulb, Duo Pack   37.800         2       0.0    6.000
51271            Novimex Chairmat, Red   56.340         1       0.0   16.890

       shipping_cost order_priority vendor_code
1              13.45         Medium      VE_002
2               9.63         Medium      VE_003
12             16.07         Medium      VE_002
20             48.17            Low      VE_001
48              2.04           High      VE_003
...              ...            ...         ...
51244          48.29            Low      VE_049
51250          17.84         Medium      VE_053
51255           4.59         Medium      VE_021
51269           3.95         Medium      VE_031
51271           5.32         Medium      VE_053

[5803 rows x 17 columns]
11.314096315071163

## Solutions

In [6]:
# Q1 - some basic statistics of the numeric features
sales.describe()

,row_id,sales,quantity,discount,profit,shipping_cost
count,51290.00000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,246.490581,3.476545,0.142908,28.610982,26.375915
std,14806.29199,487.565361,2.278766,0.212280,174.340972,57.296804
min,1.00000,0.444000,1.000000,0.000000,-6599.978000,0.000000
25%,12823.25000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [7]:
# Q1
# Calculate the mean value of sales
mean_sales = sales['sales'].mean()

# Calculate the median value of shipping_cost
median_shipping_cost = sales['shipping_cost'].median()

# Calculate the maximum value of profit
max_profit = sales['profit'].max()

# Print the results
print(f"Mean Sales: {mean_sales}")
print(f"Median Shipping Cost: {median_shipping_cost}")
print(f"Maximum Profit: {max_profit}")

Mean Sales: 246.49058120258067
Median Shipping Cost: 7.79
Maximum Profit: 8399.976

In [8]:
# Q2
### In order to get highest frequency shipping_mode , we will use value_counts()
print(sales['ship_mode'].value_counts()[0])
###  Number of unique customers in data
print(sales['customer_id'].nunique())

29842
1590

In [9]:
# Q3 - subset of records with negative profits (i.e. loss)
sales_no_loss = sales[sales['profit'] < 0]
sales_no_loss.shape

(12544, 17)

In [10]:
# Q3 continued
100 * sales_no_loss.shape[0]/sales.shape[0]

24.457009163579645

In [11]:
# Q4 - subset of records that have ship mode 'Standard Class' and category 'Furtniture'
sales_subset = sales[(sales['ship_mode'] == 'Standard Class') & (sales['category'] == 'Furniture')]
round(100*sales_subset.shape[0]/sales.shape[0], 2)

11.31